@{
    ViewData["Title"] = "Tous les clubs";
}
@using Isen.DotNet.Library.Models
@model IEnumerable<Club>

<h1>Tous les clubs</h1>

<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">logo</th>
          <th>Action...</th>
      </tr>
  </thead>
  <tbody>
    @foreach(var club in Model)
    { 
      <tr>
          <th scope="row">@club.Id</th>
          <td>@club.Name</td>
          <td>@club.address</td>
          <td>
              <img width="50" height="50" src=@club.logo ><img>
          </td>
          <td>
              <a class="btn btn-outline-primary"
                 asp-controller="Club"
                 asp-action="Edit"
                 asp-route-id="@club.Id">Modifier</a>
              <a class="btn btn-outline-danger"
                 asp-controller="Club"
                 asp-action="Delete"
                 asp-route-id="@club.Id">Supprimer</a>
          </td>
      </tr>
     }
  </tbody>
</table>