@{
    ViewData["Title"] = "Toutes les villes";
}
@using Isen.DotNet.Library.Models
@model IEnumerable<City>

<h1>Toutes les villes</h1>

<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Code postal</th>
          <th scope="col">Personne(s)</th>
          <th>Action...</th>
      </tr>
  </thead>
  <tbody>
    @foreach(var city in Model)
    { 
      <tr>
          <th scope="row">@city.Id</th>
          <td>@city.Name</td>
          <td>@city.ZipCode</td>
          <td>@city.PersonCollection?.Count</td>
          <td>
              <a class="btn btn-outline-primary"
                 asp-controller="City"
                 asp-action="Edit"
                 asp-route-id="@city.Id">Modifier</a>
              <a class="btn btn-outline-danger"
                 asp-controller="City"
                 asp-action="Delete"
                 asp-route-id="@city.Id">Supprimer</a>
          </td>
      </tr>
     }
  </tbody>
</table>